.sidenav {
    height: 100%;
    /*width: 0;*/
    position: relative;
    top: 0;
    left: 0;
    float: left;
    background-color: #1d2d44;
    /*overflow-x: hidden;
    transition: 0.5s;*/
    padding-top: 2%;
}

.sidenav a {
    padding: 0 15% 10% 10% ;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #818181;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
   #tbodyid tr {
   word-break: break-all;
}
  #tbodyid tr:hover{
   background-color:rgba(77, 119, 179, 0.5) !important;
}

 thead th{
  margin-bottom: 2%;
  padding-top:2%;
  font-size:16px;
  color: #1d2d44 !important;
  font-weight: bold;
 }

 #app-content-wrapper {
 	padding-left: 0;
 	height: 100%;
 }
  .selectedOption {
    color: #f1f1f1 !important;
  }

.body-head h3, .body-head span {
  display: inline-block;
}
.body-head span {
  float: right;
  margin: 30px 0 0 40px;
}
.row-info {
  margin-bottom: 10px;
}
.info-label, .info-text {
  display: inline-block;
  margin: 0;
}

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

@media (max-width: 386px) {
  .body-head span {
    float: none;
    margin: 0;
  }
}