
html, body {
    		height: 100%;
    		margin: 0;
    	}


/*SIDE SEARCH*/


.sidenav {
    height: 100%;
    /*width: 0;*/
    position: relative;
    top: 0;
    left: 0;
    float: left;
    background-color: #1d2d44;
    /*overflow-x: hidden;
    transition: 0.5s;*/
    padding-top: 2%;
}

.sidenav a {
    padding: 0 15% 10% 10% ;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #818181;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;

}
 #echo-result div {
 	word-break: break-all;
 	height: auto;
 	padding-bottom: 1%;
 	padding-top:1%;
 }

   #tbodyid tr {
   word-break: break-all;
}
  #tbodyid tr:hover{
   background-color:rgba(77, 119, 179, 0.5) !important;
}

 thead th{
  margin-bottom: 2%;
  padding-top:2%;
  font-size:16px;
  color: #1d2d44 !important;
  font-weight: bold;
 }

 #app-content-wrapper {
 	padding-left: 0;
 	height: 100%;
 }
  .selectedOption {
    color: #f1f1f1 !important;
  }